<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%= link_to "Show this comment", post_comment_url(post_id: comment.post.id, id:comment.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New comment", new_post_comment_path %> |
<%= link_to "Back to post", post_path(id: @post.id) %>
