<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_post_comment_path(post_id: @post.id, id: @comment.id) %> |
  <%= link_to "Back to comments", post_comments_path %>

  <%= button_to "Destroy this comment", post_comment_path(post_id: @post.id, id: @comment.id), method: :delete %>
</div>
